.typed-text {
  font-weight: normal;
  color: black;
}

.cursor {
  display: inline-block;
  width: 3px;
  background-color: #000;
  margin-left: 0.1rem;
  animation: blink 1s infinite;
}

.cursor.typing {
  animation: none;
}

@keyframes blink {
  /* this is to make the cursor at the end blink */
  0% {
    background-color: white;
  }
  49% {
    background-color: white;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}
